.footer	{
	background-color: #eee;
	color: black;
}

body {
	background-image: url('../images/blue_bkgrd.jpg');
	color: white;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 40px;
}

.jumbotron {
	background: transparent;
	font-family: 'Ubuntu', sans-serif;

}

.red {
	color: red;
}

.green {
	color: green;
}

.panel {
	background: transparent;
}

.navbar {
	background-color: #060e1f;
	border: none;
}
